<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/hyde.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  {% if page.title %}
    <meta content="{{ site.title }} - {{ site.description }}" property="og:site_name">
    <meta content="{{ page.title }}" property="og:title">
  {% else %}
    <meta content="{{ site.title }}" property="og:site_name">
    <meta content="{{ site.title }}" property="og:title">
  {% endif %}
  {% if page.excerpt %}
    <meta content="{{ page.excerpt | strip_html }}" property="og:description">
  {% else %}
    <meta content="{{ site.description }}" property="og:description">
  {% endif %}


    {% include favicon.html %}

    {% feed_meta %}

  </head>

  <body>
    
    {% include sidebar.html %}
    
<!--    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/"><b>A</b>bout</a>
            <a href="{{ site.baseurl }}/blog"><b>B</b>log</a>
            <a href="https://github.com/aryamccarthy?tab=repositories"><b>C</b>ode</a>
          </nav>
        </header>
      </div>
    </div>
-->

    <div id="main" role="main" class="content container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    <script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-AMS_CHTML">
    </script>
    <script>
            MathJax.Hub.Config({
                config: ["MMLorHTML.js"],
                extensions: ["tex2jax.js","TeX/AMSmath.js","TeX/AMSsymbols.js"],
                jax: ["input/TeX"],
                tex2jax: {
                    inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                    displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
                    processEscapes: true
                },
                TeX: {
                    TagSide: "right",
                    TagIndent: ".8em",
                    MultLineWidth: "85%",
                    equationNumbers: {
                       autoNumber: "AMS",
                    },
                    unicode: {
                       fonts: "STIXGeneral,'Arial Unicode MS'"
                    }
                },
                showProcessingMessages: false
            });
    </script>
    {% include analytics.html %}
  </body>
</html>
